@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-main: 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --color-marshmallow: #F4E2E1;
  --color-scarlet: #7A2E3A;
  --color-tangerine: #FC8D08;
  --color-moss: #334D42;
  --color-milkshake: #F7C2BC;
  --color-matcha: #DBE8C3;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-main);
}
